.header {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: $menu-width;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 8px;

  &__logo {
    width: 45px;
    height: 45px;
    line-height: 1;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $white;
    font-weight: bold;
    border-radius: 3px;
    padding-top: 2px;
    transform: rotate(45deg);
  }

  &__lang {
    opacity: 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    flex-direction: column;
    color: $dark-gray;
    font-weight: bold;
    transition: .2s;
    & span {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);

    }

    &--active,
    &:hover,
    &:active,
    &:focus {
      outline: none;
      color: $black;
      transition: .2s;
      & span {}
    }
  }
}