.header {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: $menu-width;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 8px;

  &__logo {
    width: 45px;
    height: 45px;
    line-height: 1;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $white;
    font-weight: bold;
    border-radius: 3px;
    padding-top: 2px;
    transform: rotate(45deg);
    transition: .2s;
    &--works {
      transition: .2s;
      background-color: $white;
      color: $black;
    }
    &--about {
      transition: .2s;
      background-color:blue;
      color: rosybrown;
    }
  }

  &__lang {
    opacity: 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    flex-direction: column;
    color: $dark-gray;
    font-weight: bold;
    transition: .2s;
    font-size: 22px;

    & span {
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
      position: relative;
      transition: .2s;
    }

    & .header__span--2 {
      color: $light-gray;
      transition: .2s;
    }

    & .header__span--3 {
      transition: .2s;
    }

    &--active,
    &:hover,
    &:active,
    &:focus {
      outline: none;
      color: $black;
      transition: .2s;

      & .header__span--2 {
        color: $white;
        transition: .2s;
      }

      & .header__span--3 {
        transition: .2s;
      }
    }
  }
}